
# Example code in package build process
# History files
# knitr and R markdown default cache directories
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
# Output files from R CMD build
# Output files from R CMD check
# pkgdown site
# produced vignettes
# R Environment Variables
# RStudio Connect folder
# RStudio files
# Session Data files
# Temporary files created by R markdown
# translation temp files
# User-specific files
*-Ex.R
*.knit.md
*.tar.gz
*.utf8.md
*_cache/
.httr-oauth
.Rapp.history
.RData
.RDataTmp
.Renviron
.Rhistory
.Rproj.user/
.Ruserdata
/*.Rcheck/
/*.tar.gz
/cache/
docs/
pcaforecast/*.gif
pcaforecast/*.png
pcaforecast/*.xlsx
pcaforecast/.Rhistory
pcaforecast/.Rproj.user
pcaforecast/inst/gifs/
po/*~
regforecast/
rsconnect/
vignettes/*.html
vignettes/*.pdf
